In [ ]:
# Question 1
SELECT name, email
FROM Employees;

In [ ]:
# Question 2
SELECT *
FROM Customers
WHERE City = 'New York';

In [ ]:
# Question 3
SELECT *
FROM Users
ORDER BY DateOfBirth DESC;

In [ ]:
# Question 4
SELECT *
FROM Users
ORDER BY RegistrationDate ASC;

In [ ]:
# Question 5
SELECT name, position, salary
FROM Employees
WHERE salary = (SELECT MAX(salary) FROM Employees);

In [ ]:
# Question 6
SELECT *
FROM Customers
WHERE Phone LIKE '+1-___-___-____';

In [ ]:
# Question 7
SELECT CustomerName, SUM(Amount) AS TotalPurchaseAmount
FROM Orders
GROUP BY CustomerName
ORDER BY TotalPurchaseAmount DESC
LIMIT 5;

In [ ]:
# Question 8
SELECT CategoryName, SUM(SalesAmount) AS TotalSalesAmount,
       (SUM(SalesAmount) / (SELECT SUM(SalesAmount) FROM Sales)) * 100 AS PercentageOfTotalSales
FROM Sales
GROUP BY CategoryName;

In [ ]:
# Question 9
Write an SQL query to find the customers who have made the highest total purchases across all years from a table named "Orders" and display their names, email addresses, and the total purchase amount.